<a class="rwgps-widget" href="https://ridewithgps.com/users/216546" data-rwgps-metric="1" data-rwgps-user-id="216546" data-rwgps-activities-count="3" data-rwgps-include="week month year">Activities for shanks</a>
<script>
(function(d,s) { 
  if(!d.getElementById('rwgps-sdk')) {
    var el = d.getElementsByTagName(s)[0],
        js = d.createElement(s);
    js.id = 'rwgps-sdk';
    js.src = "//ridewithgps.com/javascripts/sdk.js?1476646603532";
    el.parentNode.insertBefore(js, el);
  }
})(document, 'script');
</script>